node_modules
.DS_Store
.env
.vscode
venv1
jaseci
venv
package-lock.json
app.session
app.session.users.json
build
compiled
dist
src
anchor_store.db.bak
anchor_store.db.dat
anchor_store.db.dir
.babelec
vite.config.js